html, body {  
  margin: 0;
  padding: 0;
}

/*
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
*/

.header {
    margin: 0;
    padding: 20px 0;
    display: inline;
}

.header img{
    height: 90px;
    width: 200px;
}

.menu {
background-color: beige;
}